.content {
    margin: 82px auto 32px;
    padding: 0 16px;    
}

p {
    font-size: 20px;
    line-height: 22px;
}

i {
    font-size: 18px;
    line-height: 22px;
}

table {
    max-width: 800px;
}

img {
    max-width: 800px;
}
