<div class="content">
    <div class="display-5 mb-5">Create Palette Process</div>

    <div class="jumbotron p-2 mb-0">
        <p class="text-center m-0"><strong>status</strong></p>
        <ul class="pt-3">
            <li>Session Id: {{sid}}</li>
            <li>Txn number: {{txn}}</li>
            <li>Txn age: {{txnAge}} secs</li>
            <li>Palette id: {{pid?.$oid}}</li>
            <li>Colors created:{{colorsCreated}}</li>
        </ul>
    </div>

    <div class="text-center">
        <button (click)="createSession()" [disabled]="sid" class="mt-3" mat-raised-button routerLink="/new">
            <mat-icon class="mr-2">power_settings_new</mat-icon>Create session
        </button>

        <button (click)="startTxn(sid)" [disabled]='!sid || txn' class="ml-2 mt-3" mat-raised-button color="warn"
            routerLink="/new">
            <mat-icon class="mr-2">directions_run</mat-icon>Start txn
        </button>

        <button (click)="getTxnStatus(sid)" [disabled]='!sid' class="ml-2 mt-3" mat-raised-button routerLink="/new">
            <mat-icon class="mr-2">info</mat-icon>Get txn status
        </button>

        <button (click)="createPalette(sid, txn)" [disabled]='!sid || !txn || startCreatingPalette || paletteCreated'
            class="ml-2 mt-3" mat-raised-button routerLink="/new">
            <mat-icon class="mr-2">color_lens</mat-icon>Create Palette
        </button>

        <button (click)="createColors(sid, txn, pid)"
            [disabled]='!sid || !txn || !pid || startCreatingColors || colorsCreated' class="ml-2 mt-3"
            mat-raised-button routerLink="/new">
            <mat-icon class="mr-2">device_hub</mat-icon>Create Linked Colors
        </button>

        <button (click)="commitTxn(sid, txn)" [disabled]='!sid || !txn || !colorsCreated !! || !paletteCreated'
            class="ml-2 mt-3" mat-raised-button color="warn" routerLink="/new">
            <mat-icon class="mr-2">done</mat-icon>Commit txn
        </button>

        <button (click)="abortTxn(sid, txn)" [disabled]='!sid || !txn' class="ml-2 mt-3" mat-raised-button color="warn"
            routerLink="/new">
            <mat-icon class="mr-2">cancel</mat-icon>Abort txt
        </button>
    </div>

    <div class="text-center">
        <button (click)="getData(sid, txn)" [disabled]='!sid || !txn' class="ml-2 mt-3" mat-raised-button
            routerLink="/new">
            <mat-icon class="mr-2">done</mat-icon>Get data
        </button>

        <button (click)="getData(sid)" [disabled]='!sid' class="ml-2 mt-3" mat-raised-button routerLink="/new">
            <mat-icon class="mr-2">done</mat-icon>Get data outside txn
        </button>

        <button class="mt-3" mat-raised-button class="ml-2 mt-3" (click)="cleartTreminal()">
            <mat-icon class="mr-2">remove_from_queue</mat-icon>Clear terminal
        </button>

        <button class="mt-3" [disabled]='txn' mat-raised-button class="ml-2 mt-3" (click)="deleteAllData()" color="warn">
            <mat-icon class="mr-2">delete</mat-icon>Delete all data
        </button>

        <button class="ml-2 mt-3" mat-raised-button routerLink="/palettes" class="ml-2 mt-3">
            <mat-icon class="mr-2">arrow_back_ios</mat-icon>Back
        </button>
    </div>
</div>

<div class="terminal">
    <pre>
{{log}}
    </pre>
</div>