/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.display-5 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 3rem;
}

.display-6 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 3rem;
}