<div class="content mt-1 mb-2">
  
</div>

<div class="content" role="main">
  <!-- Resources -->
  <div class="card-container mt-1">
    <a class="card p-4 bg-primary text-white" rel="noopener" routerLink="/about">
      <i class="material-icons pr-2" color="accent">info</i>
      
      <div>About this demo</div>
      
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>

    <a class="card p-4 bg-primary text-white" rel="noopener" routerLink="/palettes">
      <i class="material-icons pr-2" color="accent">directions_run</i>
      
      <span>Go to demo</span>
      
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>

    <a class="card p-4 bg-primary text-white" target="_blank" rel="noopener" href="https://docs.mongodb.com/manual/core/transactions/">
      <i class="material-icons pr-2" color="accent">school</i>

      <span>MongoDB Txns</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
    
    <a class="card p-4 bg-primary text-white" target="_blank" rel="noopener" href="https://restheart.org/docs/tutorial">
      <i class="material-icons pr-2" color="accent">school</i>

      <span>RESTHeart Txns</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
</div>


<h2 class="mt-4 mb-0 display-5">1- Start RESTHeart <span class="text-muted">(v >= 5.1)</span></h2>
<p class="p-0 m-0 text-muted">using Docker</p>
<p class="p-0 m-0 text-muted">Alternatively get the binary at <a class="mt-3" href="https://restheart.org/get">https://restheart.org/get</a></p>
<div class="terminal">
  <pre>
$ mkdir restheart && cd restheart
$ curl https://raw.githubusercontent.com/SoftInstigate/restheart/master/docker-compose.yml --output docker-compose.yml
$ docker-compose up -d
  </pre>
</div>

<h2 class="mt-4 mb-0">2 - Create db and collections</h2>
<p class="p-0 m-0 text-muted">using curl</p>

<div class="terminal">
  <pre>
$ curl -u admin:secret -v -X PUT :8080/
$ curl -u admin:secret -v -X PUT :8080/palettes
$ curl -u admin:secret -v -X PUT :8080/colors
  </pre>
</div>