<div class="content mt-1 mb-2">
  
</div>

<div class="content" role="main">
  <!-- Resources -->
  <div class="card-container mt-1">
    <a class="card p-4 bg-primary text-white" rel="noopener" routerLink="/about">
      <i class="material-icons pr-2" color="accent">info</i>
      
      <div>About this demo</div>
      
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>

    <a class="card p-4 bg-primary text-white" rel="noopener" routerLink="/palettes">
      <i class="material-icons pr-2" color="accent">directions_run</i>
      
      <span>Go to demo</span>
      
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>

    <a class="card p-4 bg-primary text-white" target="_blank" rel="noopener" href="https://docs.mongodb.com/manual/core/transactions/">
      <i class="material-icons pr-2" color="accent">school</i>

      <span>MongoDB Txns</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
    
    <a class="card p-4 bg-primary text-white" target="_blank" rel="noopener" href="https://restheart.org/docs/tutorial">
      <i class="material-icons pr-2" color="accent">school</i>

      <span>RESTHeart Txns</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
</div>

<h2 class="mt-4 mb-0 display-5">1 - Dowload RESTHeart Platform</h2>
<p class="p-0 m-0 text-muted">free trial version</p>
<a class="mt-3 display-6" href="https://restheart.org/get#platform">https://restheart.org/get#platform</a>

<h2 class="mt-4 mb-0 display-5">2- Start RESTHeart Platform</h2>
<p class="p-0 m-0 text-muted">using Docker</p>
<div class="terminal">
  <pre>
$ unzip restheart-platform-[version].zip
$ cd restheart-platform-[version].zip
$ docker-compose up -d
  </pre>
</div>

<h2 class="mt-4 mb-0 display-5">3 - Accept License</h2>
<a class="mt-3 display-6" href="https://restheart.org/docs/setup/#accept-license">https://restheart.org/docs/setup/#accept-license</a>

<h2 class="mt-4 mb-0">4 - Init</h2>
<p class="p-0 m-0 text-muted">using Httpie</p>

<div class="terminal">
  <pre>
$ http -a admin:secret PUT :8080/
$ http -a admin:secret PUT :8080/palettes
$ http -a admin:secret PUT :8080/colors
  </pre>
</div>